@import "tailwindcss";
html,
body,
#root {
  height: 100%;
  background-color: rgba(11, 11, 11, 255);
  color: white;
  width: 100%;
}
@theme {
  --color-filterBG: #1a1a1a;
  --color-primaryGray: #797979;
  --color-baseText: #c3c3c3;
  --color-baseBG: #292539;
}
